html {
  background-image: url("Images/Background.jpg");
}

body {
  width: 750px;
  opacity: 0.9;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 150px;
  padding-left: 150px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  background-color: lightgray;
  padding-right: 125px;
  padding-left: 125px;
  border-radius: 10px;
}

img {
  width: 350px;
}

ol {
  font-size: large;
}

p {
  font-size: medium;
}
